name: Deploy to GCS

on:
  push:
    branches:
      - main

jobs:
  deploy:
    name: Upload index.html to GCS
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Authenticate to Google Cloud
        uses: google-github-actions/auth@v1
        with:
          credentials_json: ${{ secrets.GCP_SA_KEY }}

      - name: Set up gcloud CLI
        uses: google-github-actions/setup-gcloud@v1
        with:
          project_id: ind-html

      - name: Upload index.html to GCS
        run: |
          gsutil cp index.html gs://ind-html-bucket/index.html