name: Deploy to Google Cloud Storage

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup gcloud CLI
        uses: google-github-actions/setup-gcloud@v2
        with:
          project_id: ${{ secrets.int-html }}
          service_account_key: ${{ secrets.GCP_SA_KEY }}

      - name: Upload index.html to GCS bucket
        run: |
          gsutil cp -a public-read index.html gs://ind-html-bucket/index.html