name: Deploy to Google Cloud Storage

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Set up GCP credentials
        run: echo "${{ secrets.GCP_SA_KEY }}" > gcp-key.json
        
      - name: Authenticate gcloud
        run: gcloud auth activate-service-account --key-file=gcp-key.json
             gcloud config set project ind-html

      - name: Upload index.html to GCS bucket
        run: |
          gsutil cp index.html gs://ind-html-bucket/index.html